{namespace neos=TYPO3\Neos\ViewHelpers}

<f:section name="news">
    <div class="news-item {f:if(condition:'{isImportant}', then:'news-item--important')}">
        <script type="application/ld+json">
            <![CDATA[
            {
              "@context": "http://schema.org",
              "@type": "NewsArticle",
              "mainEntityOfPage":{
                "@type":"WebPage",
                "@id":"https://google.com/article"
              },
              "headline": "]]>{title}<![CDATA[",
              "datePublished": "]]>{f:format.date(date:'{publishDate}', format:'Y-m-d H:i')}<![CDATA[",
              "dateModified": "]]>{f:format.date(date:'{lastModificationDate}', format:'Y-m-d H:i')}<![CDATA[",
              "description": "]]>{teaser}<![CDATA["
            }
            ]]>
        </script>

        <h1 class="news-item__title">
            <neos:contentElement.editable property="title"/>
        </h1>

        <p class="news-tem__teaser-text">
            <neos:contentElement.editable property="teaser"/>
        </p>

        <div class="news-item__content">
            {content -> f:format.raw()}
        </div>
    </div>
</f:section>

<f:section name="newsTeaser">
    <div class="news-item-teaser">
        <h3 class="news-item-teaser__title">
            <neos:contentElement.editable property="title"/>
        </h3>
        <p class="news-item-teaser__teaser-text">
            <neos:contentElement.editable property="teaser"/>
        </p>
    </div>
</f:section>